* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #FFF;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    color: #FFF;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: underline;
}